.container-redes-sociais{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    flex-direction: column;
}

.container-redes-sociais h1{
    color: black;
    margin-bottom: 20px;
}

.container{
    display: flex;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.074);
    gap: 20px;
    border-radius: 20px;
}

.container img{
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.container img:hover{
    transform: scale(1.2);
}

.container-logalization{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(89, 89, 252, 0.069), white);
    flex-direction: column;
}

.container-maps{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px;
}

.container-redes-sociais .contato-title{
    color: rgba(0, 0, 0, 0.497);
    font-size: 25px;
    font-weight: bold;
}

.contato-title{
    color: rgba(0, 0, 0, 0.497);
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: bold;
}