.container-redes-sociais{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container-redes-sociais h1{
    color: black;
    margin-top: 100px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.074);
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 600px;
}

.container img{
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.container img:hover{
    transform: scale(1.2);
}

.container-logalization{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(89, 89, 252, 0.069), white);
    flex-direction: column;
}

.container-maps{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px;
}

.container-redes-sociais .contato-title{
    color: rgba(0, 0, 0, 0.497);
    font-size: 25px;
    font-weight: bold;
}

.contato-title{
    color: rgba(0, 0, 0, 0.497);
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.contato-subtitle{
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.497);
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 5px solid rgb(157, 157, 247);
}

#btn-contato{
    margin-bottom: 70px;
    padding: 15px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#btn-contato:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

/* Formulário de e-mail */

.container-form-background{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-form{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px ;
    box-shadow: 0px 0px 5px 0px black;
    margin: 20px;
    width: 600px;
}

form{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-title{
    padding: 20px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    background-color: blue;
    font-family: "Nunito", sans-serif;
    margin-bottom: 20px;
}

.container-span{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    background-color: rgba(254, 240, 240, 0.77);
}

.container-span span{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.401);
    font-family: "Nunito", sans-serif;
}

label{
    width: 100%;
}

label input{
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.356);
    font-family: "Nunito", sans-serif;
    outline: none;
    font-size: 18px;

}
textarea{
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Nunito", sans-serif;
}