body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

h1{
    color: #fff;
    font-size: 25px;
}

p{

    font-size: 15px;
}